<%- messages() %> 
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
 <% } %>
    <form  action="/account/register" method="post" id="form_register" class="form_register">
      <h1 class="title_register"><%= (title) %></h1>
        <p>ALL FIELDS ARE REQUIRED.</p>
        <fieldset>
            <label for="fisrtname">First Name</label>
            <input type="text" id="fisrtname" name="account_firstname" required value="<%= locals.account_firstname %>" pattern="[A-Za-z]+">
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="account_lastname" required value="<%= locals.account_lastname %>" pattern="[A-Za-z]+">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>">
            <label for="password">Password</label>
            <input type="password" id="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
            <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span> 
            <div id="passwordBtn" class="passwordBtn" onclick="togglePassword()">Show Password</div>
            <button type="submit" class="registerBtn">Register</button>
        </fieldset>
    </form>
  
<script>
    function togglePassword() {
      // Get the password element
      var passwordInput = document.querySelector("#password");

      // Switch the input type between 'password' and 'text'
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
    }
  </script>